{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "${ECR_HOST}/${ECR_IMAGE_NAME}:latest",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": 5000,
      "HostPort": 80
    }
  ]
}